footer.footer
  .color-line 
    div
    div
    div
  .footer-content.grid.grid-column-3.container
    .footer-detail
      a.d-flex.ia-center.g-2
        img(src='./assets/images/logo.png' alt='BNN Kabupaten Sleman')
        span BNN Kabaupaten Sleman
      p.text-secondary.fs-m.mt-5 Jalan Candi Sari No. 14 Beran Tridadi Sleman DIY
      //- ul.d-flex.g-4
      //-   li 
      //-     a Beranda
      //-   li 
      //-     a Masuk
      //-   li 
      //-     a Daftar
      ul.d-flex.g-4.mt-5
        li 
          a(href="#")
            img(src='/assets/images/facebook.png' alt='facebook')
        li 
          a(href="#")
            img(src='/assets/images/instagram.png' alt='instagram')
        li 
          a(href="#")
            img(src='/assets/images/twitter.png' alt='twitter')
        li 
          a(href="#")
            img(src='/assets/images/youtube.png' alt='youtube')
      p.text-secondary.fs-m.mt-5.ts-s © 2021 Badan Narkotika Nasional Kabupaten Sleman. All rights reserved
    .footer-relation-list
      h3.text-primary Tautan Terkait
      ul.list
        li 
          a(href="#") BNN Pusat
        li 
          a(href="#") Layanan Infromasi Publik (PPID)
        li 
          a(href="#") Layanan Informasi Hukum (JDIH)
        li 
          a(href="#") Layanan Rehabilitasi (SIRENA)
        li 
          a(href="#") Perpustakan Digital
        li 
          a(href="#") Goverment Public Relations (GPR)
        li 
          a(href="#") Toko Stop Narkoba
    .footer-contact 
      h3.text-primary Kontak 
      ul.list
        li Call Center <a href="#">184 / 082222216480</a>
        li Telephone <a href="#">0274-868-480</a>
        li Email <a href="#">bnnkab_sleman@bnn.go.id</a>