nav.navbar 
  .container
    a(href='/index.html').brand
      img(src="./assets/images/logo.png" alt="Badan Narkotika Nasional")
      span BNN Kabupaten Sleman
    //- ul.nav-links
    //-   li.nav-link
    //-     a(href='/index.html') Beranda
    //-   li.nav-link 
    //-     a(href='#') Masuk
    //-   li.nav-link 
    //-     a(href='#') Daftar