extends ./layout/_layout

block title 
  | Rehabilitasi | BNN Kabupaten Sleman

block content 
  .pengaduan.container 
    h1.page-title.text-primary Lakukan Rehabilitasi Di Badan Narkotika Nasional Kabupaten Sleman
    form.form
      h3.form-title Formulir Rehabilitasi
      include ./mixins/input
      include ./mixins/input_file
      include ./mixins/button
      include ./mixins/select
      include ./mixins/textarea
      .input-group.input
        +input({
          label: 'Nama', 
          name: 'nama', 
          type: 'text'})
      .input-group.input
        +input({
          label: 'Email', 
          name: 'email', 
          type: 'email'})
      .input-group.input
        +input({
          label: 'Nomor Hp', 
          name: 'nomor_hp', 
          type: 'number'})
      .input-group.select
        +select({label: 'Jenis Rehabilitasi', name: 'jenis_rehabilitasi'})
          option(value='Rehabilitasi Untuk Pecandu Narkotika') 
            | Rehabilitasi Untuk Pecandu Narkotika
          option(value='Pasca Rehabilitasi (Program Lanjutan atau Tahap Pemulihan)') 
            | Pasca Rehabilitasi (Program Lanjutan atau Tahap Pemulihan)
      .input-group.input
        +input({
          label: 'Nama Kota/Kabupaten', 
          name: 'nama_kota', 
          type: 'text'})
      .input-group.input-file
        +input_file({
          label: 'Lampiran', 
          name: 'lampiran'})
      .input-group.checkbox
        +input({
          label: 'Data Yang Saya Berikan Benar Adanya & Dapat Dipertanggungjawabkan', 
          name: 'setuju', 
          type: 'checkbox'})
      .form-action
        +button({type: 'submit'}) Submit
        
