extends ./layout/_layout

block title 
  | Tes Urine | BNN Kabupaten Sleman

block content 
  .success.container 
    h1.page-title.text-primary Lakukan Tes Urine Di Badan Narkotika Nasional Kabupaten Sleman
    .success-alert
      p Data Anda Sudah Terkirim 
      img(src="/assets/images/success.png")
      p Feedback Akan Didapatkan 1x24 Jam
        
