mixin input_file({label, name, placeholder})
  label(for=name)=label
    .upload-field 
      img(src="./assets/images/document-text.png" alt="icon")
      span.label Unggah File
    input(type="file" id=name name=name placeholder=placeholder hidden)
